@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Grechen Fuemen', cursive, sans-serif;
}

h1, h2 {
  text-align: center;
}

h2, h3, h4, h5, h6 {
  text-decoration: underline;
}

body {
  height: 100vh;
  width: 99vw;
  padding-bottom: 10em;
}

.main.page-container {
  padding-top: 40vh;
}

.main .header {
  font-family: 'Grechen Fuemen', cursive, sans-serif;
  margin: 0;
  padding: 0;
}

.background {
  background: radial-gradient(circle, rgb(150, 255, 136), rgb(152, 176, 206));
}

.page-container {
  display: table;
  margin: 0 auto;
  max-width: 50%;
}

.page-header {
  width: 98%;
  margin: .5em;
  text-align: right;
}

a {
  text-decoration: none;
  font-family: 'Grechen Fuemen', cursive, sans-serif;
}

.page-header a{
  color: #005898;
  font-size: 20px;
}

.page-header a:not(:last-child){
  padding-right: 15px;
}

#recipe-list {
  width: 75%;
  margin: 0 auto;
}

.recipe-list a {
  font-size: 25px;
  color: rgb(152, 176, 206);
}

a:hover {
  color: #ffff98;
}

ul {
  list-style: none;
}

ol li {
  padding: .2em; /* It is easier to read directions with space.*/
}

img {
  height: auto;
  max-width: 30em;
  display: block;
  margin: 0 auto;
}
